{% extends 'base/layout.html' %}

<script>
{% block jquery %}
var id = {{id}}
var endpoint = '/api/chart/data/'+id+'/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            pointStyle: "star",
            pointBorderColor: "rgba(0,0,0,0)",
            label: 'Regulacja PiD',
            data: defaultData,
            backgroundColor: [
                'rgba(0, 0, 0, 0)',                
            ],
            borderColor: [
                'rgba(2,2,132,1)',
            ],
            borderWidth: 1
        }],

    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Pozycja [deg]"
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Czas [s]",
            }
        }],
        },
        

    }
});
}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        {% if id == '0'%}
        <h1 align="center">Sprawozdanie z ostatniej symulacji</h1>
        {% else %}
        <h1 align="center">Sprawozdanie z symulacji nr {{id}}</h1>
        {%endif%}
        
        <div class='container'>
            <canvas id="myChart" width="320" height="180"></canvas>
        </div>
    </div>
</div>

{% endblock content %}
