{% extends 'base/layout.html' %}

<script>
{% block jquery %}
var id = {{id}}
var endpoint = '/api/chart/data/'+id+'/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        defaultData2 = data.default2
        defaultData3 = data.default3[0]
        defaultData4 = data.default4[0]
        defaultData5 = data.default5[0]
        defaultData6 = data.default6[0]

        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})


function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var ctx3 = document.getElementById("myChart3");

    var myChart = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            pointStyle: "star",
            pointBorderColor: "rgba(0,0,0,0)",
            label: 'Przebieg syg. ster. PiD',
            data: defaultData5,
            backgroundColor: [
                'rgba(0, 0, 0, 0)',                
            ],
            borderColor: [
                'rgba(2,2,132,1)',
            ],
            borderWidth: 1
        },
        {
            pointStyle: "star",
            pointBorderColor: "rgba(0,0,0,0)",
            label: 'Przebieg syg. ster. Fuzzy',
            data: defaultData6,
            backgroundColor: [
                'rgba(0, 0, 0, 0)',                
            ],
            borderColor: [
                'rgba(255,0,0,1)',
            ],
            borderWidth: 1
        }],

    },
    options: {
        scales: {
            title: {
            display: true,
            text: 'Zmiana kąta'
        },
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Syg. sterujący [Nm]"
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Czas [s]",
            }
        }],
        },
        

    }
});
    

    var myChart = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            pointStyle: "star",
            pointBorderColor: "rgba(0,0,0,0)",
            label: 'Przebieg uchybu regulacji PiD',
            data: defaultData3,
            backgroundColor: [
                'rgba(0, 0, 0, 0)',                
            ],
            borderColor: [
                'rgba(2,2,132,1)',
            ],
            borderWidth: 1
        },
        {
            pointStyle: "star",
            pointBorderColor: "rgba(0,0,0,0)",
            label: 'Przebieg uchybu regulacji Fuzzy',
            data: defaultData4,
            backgroundColor: [
                'rgba(0, 0, 0, 0)',                
            ],
            borderColor: [
                'rgba(255,0,0,1)',
            ],
            borderWidth: 1
        }],

    },
    options: {
        scales: {
            title: {
            display: true,
            text: 'Zmiana kąta'
        },
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Uchyb [deg]"
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Czas [s]",
            }
        }],
        },
        

    }
});



    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            pointStyle: "star",
            pointBorderColor: "rgba(0,0,0,0)",
            label: 'Regulacja PiD',
            data: defaultData,
            backgroundColor: [
                'rgba(0, 0, 0, 0)',                
            ],
            borderColor: [
                'rgba(2,2,132,1)',
            ],
            borderWidth: 1
        },
        {
            pointStyle: "star",
            pointBorderColor: "rgba(0,0,0,0)",
            label: 'Regulacja Fuzzy',
            data: defaultData2,
            backgroundColor: [
                'rgba(0, 0, 0, 0)',                
            ],
            borderColor: [
                'rgba(255,0,0,1)',
            ],
            borderWidth: 1
        }],

    },
    options: {
        scales: {
            title: {
            display: true,
            text: 'Zmiana kąta'
        },
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Pozycja [deg]"
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel:{
                    display:true,
                    labelString:"Czas [s]",
            }
        }],
        },
        

    }
});

}



{% endblock %}


</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        {% if id == '0'%}
        <h1 align="center">Sprawozdanie z ostatniej symulacji</h1>
        {% else %}
        <h1 align="center">Sprawozdanie z symulacji nr {{id}}</h1>
        {%endif%}
        <hr>
        <h3 align="center">Przebieg zmiany kąta wychylenia wahadła:</h3>

        <div class='container'>
            <div id="page1"> <canvas id="myChart" width="320" height="180"></canvas> </div>
            <hr>

            <h3 align="center">Wskaźnik jakości regulacji, skumulowany uchyb regulacji:</h3>
            <h4 align="center">- dla regulacji PiD: {{pid_blad}} jednostek</h4>
            <h4 align="center">- dla regulacji fuzzy: {{fuzzy_blad}} jednostek</h4>

            <div id="page2"> <canvas id="myChart2" width="320" height="180"></canvas> </div>
            <hr>
            <h2 align="center">Wskaźnik kosztu regulacji, skumulowany Moment Sterujący:</h2>
            <h4 align="center">- dla regulacji PiD: {{pid_koszt}} Nm</h4>
            <h4 align="center">- dla regulacji fuzzy: {{fuzzy_koszt}} Nm</h4>
            <div id="page3"> <canvas id="myChart3" width="320" height="180"></canvas> </div>
        </div>
    </div>
</div>

{% endblock content %}
